
/* ------------font links */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');









@import "tailwindcss";




html {
  scroll-behavior: smooth;
}


/* ------container----- */
@utility container{
  margin-inline:auto;
}





@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typewriter {
  animation: typewriter 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
  width: 0;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}






@theme {
  --color-prymary:#171717
}

@theme {
  --font-prymary:"DM Sans", sans-serif
}
